.App {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.webcam {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}



